<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .Results_div {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px rgb(255, 0, 43);
        }
        .Distination_list{
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="Distination_list">
        <% if (list !==null && typeof list !== "undefined" && list.length>0 ) {%>
            <h1>My Saved Distinations
            </h1>
            <%list.forEach(item=>{%>
                <h2>
                    <a style="text-decoration: none;" class="Results_div" href=<%=item.link %> >
                        <img src=<%=`${item.name.split(" ")[0].toLowerCase().trim()}.png` %> alt=<%=item.name%>
                            style=" width:100px;height:100px; margin=50;text-align: center;">
                        <%=item.name%>
                    </a>
                </h2>
                <%})%>
                    <%} else if(list !==null && typeof list !=="undefined" ) {%>
                        <h1>No Saved Distinations</h1>
                        <%}%>
    </div>
</body>
</html>